In [29]:
import pandas as pd
import numpy as np

In [30]:
from settings import CORR_GROUP
corr_group = CORR_GROUP

In [42]:
df = pd.read_csv("data/mongo_filtered_av101_mins.csv", index_col='ts')
df.index = pd.to_datetime(df.index)

In [43]:
def unique_cols(df):
    a = df.to_numpy() # df.values (pandas<0.24)
    return (a[0] == a).all(0)

df = df.loc[:,np.invert(unique_cols(df))]
print(df.shape)
df.tail()

(17911, 56)

,S_SUM,I_SUM,H_TDH_I_L3_N,U_L3_L1,H_TDH_I_L1_N,C_phi_L1,P_L2,P_L1,P_L3,ReacEc_L1,...,ReacE_L1,RealE_SUM,AE_SUM,S_L3,H_TDH_U_L3_N,S_L2,S_L1,H_TDH_U_L1_N,U_L1_N,ReacE_SUM
ts,,,,,,,,,,,,,,,,,,,,,
2022-04-14 08:42:00,195.879500,0.833833,115.334000,406.150667,100.0,0.0,0.0,0.0,124.260000,112.64,...,14098948.0,197559088.0,2.244853e+08,195.879500,2.998833,0.0,0.0,2.978833,234.500833,41034176.0
2022-04-14 08:43:00,205.543220,0.875593,117.075254,405.953559,100.0,0.0,0.0,0.0,129.906949,112.64,...,14098948.0,197559088.0,2.244853e+08,205.543220,2.927458,0.0,0.0,2.896949,234.434407,41034176.0
2022-04-14 08:44:00,214.866333,0.905833,120.429500,410.188833,100.0,0.0,0.0,0.0,134.342000,112.64,...,14098948.0,197559088.0,2.244853e+08,214.866333,2.872833,0.0,0.0,2.833000,236.948667,41034176.0
2022-04-14 08:45:00,221.993333,0.936444,118.302000,409.854889,100.0,0.0,0.0,0.0,139.195111,112.64,...,14098948.0,197559088.0,2.244853e+08,221.993333,2.872889,0.0,0.0,2.843556,236.677556,41034176.0
2022-04-14 08:46:00,204.409216,0.863333,118.254510,408.792549,100.0,0.0,0.0,0.0,127.811176,112.64,...,14098948.0,197559088.0,2.244853e+08,204.409216,2.811176,0.0,0.0,2.764510,236.124314,41034176.0

In [44]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
d = scaler.fit_transform(df_2)
scaled_df = pd.DataFrame(d, columns=df_2.columns, index=df_2.index)
scaled_df.head()

,Unnamed: 0,S_SUM,I_SUM,H_TDH_I_L3_N,U_L3_L1,H_TDH_I_L1_N,C_phi_L1,P_L2,P_L1,P_L3,...,ReacE_L1,RealE_SUM,AE_SUM,S_L3,H_TDH_U_L3_N,S_L2,S_L1,H_TDH_U_L1_N,U_L1_N,ReacE_SUM
0,0.000000,0.808408,0.586733,0.308886,0.537906,0.428831,0.983331,0.734121,0.807901,0.747435,...,0.000476,0.000406,0.000421,0.812829,0.804657,0.769868,0.828187,0.748556,0.533631,0.000483
1,0.000056,0.987640,0.762315,0.245151,0.603547,0.362732,0.983836,0.971112,0.990250,0.970072,...,0.000000,0.000000,0.000000,0.986353,0.823286,0.971476,0.987875,0.774473,0.599322,0.000000
2,0.000112,0.712068,0.469584,0.347534,0.547782,0.482547,0.973733,0.643124,0.691223,0.627284,...,0.000526,0.000445,0.000463,0.705497,0.716430,0.686285,0.731271,0.677714,0.540657,0.000533
3,0.000168,0.956715,0.706281,0.258239,0.608706,0.379928,0.982825,0.934011,0.951896,0.932045,...,0.000170,0.000154,0.000157,0.956073,0.825600,0.940967,0.956467,0.779493,0.602808,0.000174
4,0.000224,0.713683,0.470713,0.347955,0.567519,0.479530,0.975753,0.638509,0.696059,0.628132,...,0.000546,0.000462,0.000481,0.708934,0.720596,0.684160,0.734812,0.676350,0.564052,0.000554

In [45]:
# convert series to supervised learning
def create_supervised_dataset(df, target, feats, n_in=1, n_out=1):
    cols, names = list(), list()
    n_vars = len(feats)
    # input sequence (t-n, ... t-1)
    for i in range(n_in, 0, -1):
        cols.append(df[feats].shift(i))
        names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]
    # forecast sequence (t, t+1, ... t+n)
    for i in range(0, n_out):
        cols.append(df[target].shift(-i))
        if i == 0:
            names += [('var%d(t)' % (j+1)) for j in range(1)]
        else:
            names += [('var%d(t+%d)' % (j+1, i)) for j in range(1)]
    # put it all together
    agg = pd.concat(cols, axis=1)
    agg.columns = names
    agg.dropna(inplace=True)
    return agg.values

In [46]:
from sklearn.linear_model import LinearRegression

# create network
def create_model(features, timesteps=1):
    model = LinearRegression()
    
    return model

In [48]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics # for the evaluation

history_window =  15 # 8*15secs = 120secs
prediction_window = 1 #predict 15 secs
for k in corr_group:
    values = create_supervised_dataset(scaled_df, k, corr_group[k], n_in=history_window, n_out=prediction_window)
    len_values = values.shape[0]
    # split into train and test sets 
    n_train_seconds = int(0.7*len_values) #70% dos valores
    n_cv_seconds =  int(0.9*len_values) #20% dos valores
    train = values[:n_train_seconds, :]
    cv = values[n_train_seconds:n_cv_seconds, :]
    
    # split into input and outputs
    train_X, train_y = train[:, :-1], train[:, -1:]
    train_y = np.reshape(train_y, newshape=train_y.shape[0])
    model = LinearRegression().fit(train_X, train_y)
    r_sq = model.score(train_X, train_y)

    #Test for the day after
    print("Starting Test", k)
    n_test_seconds =  int(0.1*len_values) #10% dos valores
    test = values[-n_test_seconds:, :]

    test_X, test_y = test[:, :-1], test[:, -1:]
    test_y = np.reshape(test_y, newshape=test_y.shape[0])
    # make a prediction
    yhat = model.predict(test_X)
    print(k, ':', np.sqrt(metrics.mean_squared_error(test_y, yhat)))

Starting Test P_SUM
P_SUM : 0.023579863756624183
Starting Test U_L1_N
U_L1_N : 0.04600273003120613
Starting Test I_SUM
I_SUM : 0.07636455379757548
Starting Test H_TDH_I_L3_N
H_TDH_I_L3_N : 0.049983897089601007
Starting Test F
F : 0.061097091350834715
Starting Test ReacEc_L1
ReacEc_L1 : 0.015593226769838911
Starting Test C_phi_L3
C_phi_L3 : 0.06917775045131999
Starting Test ReacEc_L3
ReacEc_L3 : 0.0006598041405465956
Starting Test RealE_SUM
RealE_SUM : 0.0007381251920654492
Starting Test H_TDH_U_L2_N
H_TDH_U_L2_N : 0.04178629321463151