In [1]:
import pandas as pd
import numpy as np

In [2]:
from settings import CORR_GROUP
corr_group = CORR_GROUP

In [10]:
df = pd.read_csv("data/mongo_av101_data", index_col='ts')
df = df.drop('Unnamed: 0', 1)
df.index = pd.to_datetime(df.index)

C:\Users\pedro\AppData\Local\Temp\ipykernel_25212\1273046225.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop('Unnamed: 0', 1)

In [11]:
def unique_cols(df):
    a = df.to_numpy() # df.values (pandas<0.24)
    return (a[0] == a).all(0)

df = df.loc[:,np.invert(unique_cols(df))]
print(df.shape)
df.tail()

(1102186, 56)

,S_SUM,I_SUM,H_TDH_I_L3_N,U_L3_L1,H_TDH_I_L1_N,C_phi_L1,P_L2,P_L1,P_L3,ReacEc_L1,...,ReacE_L1,RealE_SUM,AE_SUM,H_TDH_U_L3_N,S_L3,S_L2,S_L1,H_TDH_U_L1_N,U_L1_N,ReacE_SUM
ts,,,,,,,,,,,,,,,,,,,,,
2022-04-14 08:46:47.282290703+00:00,219.11,0.93,115.53,409.18,100.0,0.0,0.0,0.0,139.78,112.64,...,14098948,197559088,224485360,2.80,219.11,0.0,0.0,2.76,236.41,41034176
2022-04-14 08:46:49.848441542+00:00,221.12,0.93,117.37,409.12,100.0,0.0,0.0,0.0,140.10,112.64,...,14098948,197559088,224485360,2.81,221.12,0.0,0.0,2.77,236.38,41034176
2022-04-14 08:46:50.245383641+00:00,223.79,0.95,123.69,408.73,100.0,0.0,0.0,0.0,137.66,112.64,...,14098948,197559088,224485360,2.81,223.79,0.0,0.0,2.76,236.19,41034176
2022-04-14 08:46:52.839615327+00:00,222.40,0.94,120.35,409.37,100.0,0.0,0.0,0.0,138.37,112.64,...,14098948,197559088,224485360,2.84,222.40,0.0,0.0,2.80,236.47,41034176
2022-04-14 08:46:53.752384841+00:00,211.73,0.89,132.29,406.54,100.0,0.0,0.0,0.0,126.35,112.64,...,14098948,197559088,224485360,2.86,211.73,0.0,0.0,2.73,235.33,41034176

In [12]:
# Average window
df_2 = df.groupby(np.arange(len(df))//60).mean()
print(df_2.shape)
df_2.head()

(18370, 56)

,S_SUM,I_SUM,H_TDH_I_L3_N,U_L3_L1,H_TDH_I_L1_N,C_phi_L1,P_L2,P_L1,P_L3,ReacEc_L1,...,ReacE_L1,RealE_SUM,AE_SUM,H_TDH_U_L3_N,S_L3,S_L2,S_L1,H_TDH_U_L1_N,U_L1_N,ReacE_SUM
0,143420.548833,1.158833,40.214167,407.743000,39.054000,0.981000,44352.312500,44117.080333,41495.305167,112.3,...,1.227591e+07,1.745732e+08,1.983263e+08,5.394500,45972.723500,48605.895667,48841.930500,5.255333,235.843833,3.629030e+07
1,140557.276333,1.099167,43.196500,407.524500,40.884833,0.979333,43057.115500,43136.681667,40012.582167,112.3,...,1.227605e+07,1.745753e+08,1.983286e+08,5.910167,44877.443167,47568.110667,48111.724000,5.695333,235.735667,3.629067e+07
2,93815.355000,0.845500,58.679167,407.270500,53.613667,0.962333,27365.851833,27762.048000,24341.828667,112.3,...,1.227618e+07,1.745771e+08,1.983306e+08,4.804167,29270.090000,31730.929833,32814.334333,4.763833,235.550500,3.629100e+07
3,114006.076000,0.968000,50.991833,407.649167,45.057167,0.976833,33335.225833,35324.061500,31007.169167,112.3,...,1.227631e+07,1.745786e+08,1.983324e+08,5.459500,36268.215833,37711.660667,40026.199000,5.276333,235.763000,3.629132e+07
4,106845.897833,0.934667,51.904667,408.817333,46.557333,0.977000,30864.865667,32663.008500,29128.609833,112.3,...,1.227643e+07,1.745801e+08,1.983341e+08,5.332333,34277.251500,35283.741167,37284.904667,5.200167,236.367333,3.629163e+07

In [13]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
d = scaler.fit_transform(df_2)
scaled_df = pd.DataFrame(d, columns=df_2.columns, index=df_2.index)
scaled_df.head()

,S_SUM,I_SUM,H_TDH_I_L3_N,U_L3_L1,H_TDH_I_L1_N,C_phi_L1,P_L2,P_L1,P_L3,ReacEc_L1,...,ReacE_L1,RealE_SUM,AE_SUM,H_TDH_U_L3_N,S_L3,S_L2,S_L1,H_TDH_U_L1_N,U_L1_N,ReacE_SUM
0,0.954598,0.832893,0.212229,0.359554,0.326586,0.991410,0.972660,0.954040,0.958368,0.0,...,0.000000,0.000000,0.000000,0.567672,0.945292,0.953160,0.935159,0.558990,0.360949,0.000000
1,0.935535,0.783122,0.229252,0.349300,0.343989,0.989725,0.944256,0.932839,0.924101,0.0,...,0.000078,0.000091,0.000089,0.654678,0.922753,0.932809,0.921178,0.633988,0.351941,0.000078
2,0.624342,0.571528,0.317625,0.337380,0.464981,0.972545,0.600142,0.600359,0.561937,0.0,...,0.000151,0.000168,0.000166,0.468069,0.601569,0.622242,0.628285,0.475214,0.336521,0.000149
3,0.758765,0.673711,0.273747,0.355151,0.383648,0.987199,0.731052,0.763889,0.715978,0.0,...,0.000219,0.000236,0.000235,0.578640,0.745584,0.739524,0.766368,0.562569,0.354217,0.000215
4,0.711095,0.645906,0.278957,0.409973,0.397908,0.987367,0.676876,0.706344,0.672563,0.0,...,0.000287,0.000301,0.000301,0.557183,0.704612,0.691913,0.713881,0.549587,0.404544,0.000281

In [14]:
# convert series to supervised learning
def create_supervised_dataset(df, target, feats, n_in=1, n_out=1):
    cols, names = list(), list()
    n_vars = len(feats)
    # input sequence (t-n, ... t-1)
    for i in range(n_in, 0, -1):
        cols.append(df[feats].shift(i))
        names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]
    # forecast sequence (t, t+1, ... t+n)
    for i in range(0, n_out):
        cols.append(df[target].shift(-i))
        if i == 0:
            names += [('var%d(t)' % (j+1)) for j in range(1)]
        else:
            names += [('var%d(t+%d)' % (j+1, i)) for j in range(1)]
    # put it all together
    agg = pd.concat(cols, axis=1)
    agg.columns = names
    agg.dropna(inplace=True)
    return agg.values

In [15]:
from sklearn.linear_model import LinearRegression

# create network
def create_model(features, timesteps=1):
    model = LinearRegression()
    
    return model

In [16]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics # for the evaluation

history_window =  30 # 8*15secs = 120secs
prediction_window = 1 #predict 15 secs
for k in corr_group:
    values = create_supervised_dataset(scaled_df, k, corr_group[k], n_in=history_window, n_out=prediction_window)
    len_values = values.shape[0]
    # split into train and test sets 
    n_train_seconds = int(0.7*len_values) #70% dos valores
    n_cv_seconds =  int(0.9*len_values) #20% dos valores
    train = values[:n_train_seconds, :]
    cv = values[n_train_seconds:n_cv_seconds, :]
    
    # split into input and outputs
    train_X, train_y = train[:, :-1], train[:, -1:]
    train_y = np.reshape(train_y, newshape=train_y.shape[0])
    model = LinearRegression().fit(train_X, train_y)
    r_sq = model.score(train_X, train_y)

    #Test for the day after
    print("Starting Test", k)
    n_test_seconds =  int(0.1*len_values) #10% dos valores
    test = values[-n_test_seconds:, :]

    test_X, test_y = test[:, :-1], test[:, -1:]
    test_y = np.reshape(test_y, newshape=test_y.shape[0])
    # make a prediction
    yhat = model.predict(test_X)
    print(k, ':', np.sqrt(metrics.mean_squared_error(test_y, yhat)))

Starting Test P_SUM
P_SUM : 0.03509606290606561
Starting Test U_L1_N
U_L1_N : 0.047148999304016524
Starting Test I_SUM
I_SUM : 0.07970584487892929
Starting Test H_TDH_I_L3_N
H_TDH_I_L3_N : 0.059829601179315815
Starting Test F
F : 0.05399872769802976
Starting Test ReacEc_L1
ReacEc_L1 : 0.016361089774200036
Starting Test C_phi_L3
C_phi_L3 : 0.07517644604211514
Starting Test ReacEc_L3
ReacEc_L3 : 0.0006586362123075396
Starting Test RealE_SUM
RealE_SUM : 0.00014072908851921458
Starting Test H_TDH_U_L2_N
H_TDH_U_L2_N : 0.041281845028098424